# macOS
.DS_Store

# C/C++ Objetos y Binarios específicos
*.o
*.out
*.exe
# Ignorar los ejecutables en la raíz de cada carpeta pero no la carpeta
P0/p0
P1/p1
P2/p2

# IDEs
.vscode/
.idea/

# Herramientas de depuración
vgcore.*
valgrind-out.txt
